body{
    margin: 0%;
    padding: 0%;
    background-color: #f4f4f4;
    background-image: url(food.jpeg);
}

header{
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline;
    margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

section{
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: transparent;
    color: white;
    box-shadow: 0 0 10px; rgba(0,0,0,0.1)
}

#menu .menu-item{
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

#menu .menu-item:last-child{
    border-bottom: none;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}